extends layout

block styles
    +useCSS('/stylesheets/dashboard.css')

block content
    section.owned-queues
        header.queue-list-header
            h1 Queues You Own
            form(action=urls.queue.create)
                input.button.queue-create-button(type="submit", value="Create New")
        if ownedList && ownedList.length > 0
            ul.queue-list
                each queue in ownedList
                    li.queue-list-row
                        .left
                            .queue-list-col.queue-name
                                a(href=urls.queue.display(queue._id))= queue.name
                        .right
                            .queue-list-col
                                form(method="GET", action=urls.queue.settings(queue._id))
                                    input.button(type="submit", value="Edit")
                            .queue-list-col
                                form(method="GET", action=urls.queue.delete(queue._id))
                                    input.button(type="submit", value="Delete")
        else
            p.empty-queue-list-msg You have no queues. Create a queue so viewers can join!
    section.joined-queues
        header.queue-list-header
            h1 Queues You've Joined           
        if joinedList && joinedList.length > 0
            ul.queue-list
                each queue in joinedList
                    li.queue-list-row
                        .left
                            .queue-list-col.queue-name
                                a(href=urls.queue.display(queue._id))= queue.name
                        .right
                            .queue-list-col
                                form(method="post", action=urls.queue.unjoin(queue._id))
                                    input.button(type="submit", value="Leave")
        else
            p.empty-queue-list-msg You haven't joined any queues.

    